<!DOCTYPE html>
<html>
<head>{% load static %}
<link rel="stylesheet" href="{% static '/style.css' %}"></head>
<body>
<div class="container">
<form method="post">

    {% csrf_token %}

    <label>sid:</label>
    {{ form.sid }}

    <label>name:</label>
    {{ form.name }}

    <label>qualification:</label>
    {{ form.qualification }}

    <label>email:</label>
    {{ form.email }}

    <label>phno:</label>
    {{ form.phno }}

    <label>trainer:</label>
    {{ form.trainer }}

    <label>course:</label>
    {{ form.course }}

    <label>status:</label>
    {{ form.status }}

    <!-- <label>role:</label>
    {{ form.role }} -->

    <button type="submit">
        Submit
    </button>

</form>
<a href="/viewstudents/">
    <button type="button">
        View Students
    </button>
</a>
</div>
</body>
</html>